<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjh.business.system.user.mapper.SysRoleMapper">


    <select id="listSysRoleCode" parameterType="string" resultType="string">
        select r.code from sys_role r,sys_user_role_mapping m where r.id = m.role_id and m.user_id = #{userId}
    </select>

</mapper>