package ${package}.domain;

import lombok.Data;
import com.common.model.AuditBaseEntity;
#foreach ($column in $columns)
#if($column.attrType == 'Date' && ($column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' && $column.attrname != 'remark'))
import java.util.Date;
#break
#end
#end

/**
 * ${tableComment}表 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className} extends AuditBaseEntity
{
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
#if($column.attrname != 'id' && $column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' )
	/** $column.columnComment */
	private $column.attrType $column.attrname;
#end
#end
#*

#foreach ($column in $columns)
#if($column.attrname != 'id' && $column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime')
	public void set${column.attrName}($column.attrType $column.attrname)
	{
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}()
	{
		return $column.attrname;
	}
#end
#end
*#

}
