package ${package}.mapper;

import ${package}.model.${classEntity};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

import java.util.List;
import java.util.Map;

/**
 * ${tableComment} 数据层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${classEntity}Mapper extends BaseMapper<${classEntity}> {

}