package ${package}.service;

import ${package}.model.${classEntity};
import com.jjh.common.web.form.PageRequestForm;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

/**
 * ${tableComment} 服务层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service {

    /**
     * 查询${tableComment}列表
     *
     * @param form 查询条件
     * @return ${tableComment}集合
     */
    List<${classEntity}> list(PageRequestForm<${classEntity}> form);

    /**
     * 新增${tableComment}对象
     *
     * @param entity 待新增对象
     * @return ${tableComment}对象
     */
    @Transactional(rollbackFor = Exception.class)
    ${classEntity} add(${classEntity} entity);


    /**
     * 更新${tableComment}对象
     *
     * @param entity 待更新对象
     * @return ${tableComment}对象
     */
    @Transactional(rollbackFor = Exception.class)
    ${classEntity} update(${classEntity} entity);


    /**
     * 删除${tableComment}对象
     *
     * @param ids 需要删除的数据ID
     * @return 结果
     */
    @Transactional(rollbackFor = Exception.class)
    boolean del(String ids);

#if($importAndExport == true)
    /**
     * 导入数据
     *
     * @param list
     * @param updateSupport 是否更新现有数据
     */
    void importData(List<${classEntity}> list, boolean updateSupport);
#end
}
